<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">need help with drug or alcohol addiction?<br>
				you are not alone
			</h1>
			<hr>
			<p>
				Finding treatment for you or a loved one does not have to be challenging. Call now for a complimentary consultation. Help is out there. 
			</p>
			<a href="tel:8002791455" class="btn btn-primary btn-xl page-scroll">(800) 279-1455</a>
		</div>
	</div>
</header>
<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">We've got what you need!</h2>
				<hr class="light">
				<p class="text-faded">Our complimentary services include everything from intervention to insurance verification to placement. One call can have you or a loved one on the road to recovery in as little as one hour, at no cost</p>
				<a href="tel:8002791455" class="page-scroll btn btn-default btn-xl sr-button">(800) 279-1455</a> OR
				<a href="#" class="page-scroll btn btn-default btn-xl sr-button">Verify Insurance</a>
			</div>
		</div>
	</div>
</section>
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">At Your Service</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
					<h3>Inpatient Care</h3>
					<p class="text-muted">Get 24-hour intensive medical care to ensure their safety</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
					<h3>Insurance Experts</h3>
					<p class="text-muted">We can help to get your insurance benfits verified at no cost</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
					<h3>Complimentary Clinical Assessment</h3>
					<p class="text-muted">Get the help you need, fast</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-heart text-primary sr-icons"></i>
					<h3>Substance Abuse Intensive Outpatient Program /h3>
					<p class="text-muted">Structured treatment that teaches about the concepts of addiction and recovery</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="no-padding" id="portfolio">
	<div class="container-fluid">
		<div class="row no-gutter popup-gallery">
			<div class="col-lg-4 col-sm-6">
				<a href="<%= url_to_image('fullsize/1.jpg') %>" class="portfolio-box">
					<img src="<%= url_to_image('thumbnails/1.jpg') %>" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="<%= url_to_image('fullsize/2.jpg') %>" class="portfolio-box">
					<img src="<%= url_to_image('thumbnails/2.jpg') %>" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="<%= url_to_image('fullsize/3.jpg') %>" class="portfolio-box">
					<img src="<%= url_to_image('thumbnails/3.jpg') %>" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="<%= url_to_image('fullsize/4.jpg') %>" class="portfolio-box">
					<img src="<%= url_to_image('thumbnails/4.jpg') %>" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="<%= url_to_image('fullsize/5.jpg') %>" class="portfolio-box">
					<img src="<%= url_to_image('thumbnails/5.jpg') %>" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="<%= url_to_image('fullsize/6.jpg') %>" class="portfolio-box">
					<img src="<%= url_to_image('thumbnails/6.jpg') %>" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<aside class="bg-dark">
	<div class="container text-center">
		<div class="call-to-action">
			<h2>Free Download at Start Bootstrap!</h2>
			<a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
		</div>
	</div>
</aside>
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Let's Get In Touch!</h2>
				<hr class="primary">
				<p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
			</div>
			<div class="col-lg-4 col-lg-offset-2 text-center">
				<i class="fa fa-phone fa-3x sr-contact"></i>
				<p>123-456-6789</p>
			</div>
			<div class="col-lg-4 text-center">
				<i class="fa fa-envelope-o fa-3x sr-contact"></i>
				<p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
			</div>
		</div>
	</div>
</section>